In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_codw = pd.read_csv("countries_of_the_world_edit_2.csv")
df_cpi = pd.read_csv("cpi_column.csv")
df_unemp = pd.read_csv("Employment_column.csv")
df_life = pd.read_csv("Life_expectancy_column.csv")
df_whr = pd.read_csv("../merged_all_5_years.csv")

In [3]:
df_cpi.head()

       Country  CPI Score
0  Afghanistan  13.017093
1      Albania  34.452946
2      Algeria  33.704377
3       Angola  20.005035
4    Argentina  35.396074

In [4]:
df_unemp.head()

                   Country  unemployment_percentage
0  Cocos (Keeling) Islands                      0.1
1                 Cambodia                      0.3
2                    Qatar                      0.6
3                 Thailand                      0.7
4                Gibraltar                      1.0

In [5]:
df_life.head()

               Country  Life expectancy
0          Afghanistan         58.19375
1              Albania         75.15625
2              Algeria         73.61875
3               Angola         49.01875
4  Antigua and Barbuda         75.05625

In [6]:
df_codw = df_codw.drop("Unnamed: 0",axis = 1)

In [7]:
df_codw.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,22.46,3.27,1.000,0.000,0.000
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,8.71,6.25,1.000,0.000,0.000

In [8]:
df_codw = df_codw.drop("Region",axis = 1)

In [9]:
df_codw

,Country,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,31056997,647500,48.0,0.00,23.06,163.070000,700.0,36.0,3.2,12.13,0.22,87.65,46.60,20.34,0.380,0.240,0.380
1,Albania,3581655,28748,124.6,1.26,-4.93,21.520000,4500.0,86.5,71.2,21.09,4.42,74.49,15.11,5.22,0.232,0.188,0.579
2,Algeria,32930091,2381740,13.8,0.04,-0.39,31.000000,6000.0,70.0,78.1,3.22,0.25,96.53,17.14,4.61,0.101,0.600,0.298
3,American Samoa,57794,199,290.4,58.29,-20.71,9.270000,8000.0,97.0,259.5,10.00,15.00,75.00,22.46,3.27,1.000,0.000,0.000
4,Andorra,71201,468,152.1,0.00,6.60,4.050000,19000.0,100.0,497.2,2.22,0.00,97.78,8.71,6.25,1.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,2460492,5860,419.9,0.00,2.98,19.620000,800.0,0.0,145.2,16.90,18.97,64.13,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,273008,266000,1.0,0.42,0.00,35.506964,0.0,0.0,0.0,0.02,0.00,99.98,0.00,0.00,1.000,0.000,0.400
224,Yemen,21456188,527970,40.6,0.36,0.00,61.500000,800.0,50.2,37.2,2.78,0.24,96.98,42.89,8.30,0.135,0.472,0.393
225,Zambia,11502010,752614,15.3,0.00,0.00,88.290000,800.0,80.6,8.2,7.08,0.03,92.90,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,12236805,390580,31.3,0.00,0.00,67.690000,1900.0,90.7,26.8,8.32,0.34,91.34,28.01,21.84,0.179,0.243,0.579

In [11]:
merged1 = pd.merge(df_codw,df_life,on = "Country",how = "inner")
merged1

,Country,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service,Life expectancy
0,Afghanistan,31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,46.60,20.34,0.380,0.240,0.380,58.19375
1,Albania,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,15.11,5.22,0.232,0.188,0.579,75.15625
2,Algeria,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,17.14,4.61,0.101,0.600,0.298,73.61875
3,Angola,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,45.11,24.20,0.096,0.658,0.246,49.01875
4,Argentina,39921833,2766890,14.4,0.18,0.61,15.18,11200.0,97.1,220.4,12.31,0.48,87.21,16.73,7.55,0.095,0.358,0.547,75.15625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Venezuela,25730435,912050,28.2,0.31,-0.04,22.20,4800.0,93.4,140.1,2.95,0.92,96.13,18.71,4.92,0.040,0.419,0.541,73.38750
172,Vietnam,84402966,329560,256.1,1.05,-0.45,25.95,2500.0,90.3,187.7,19.97,5.95,74.08,16.86,6.22,0.209,0.410,0.381,74.77500
173,Yemen,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,42.89,8.30,0.135,0.472,0.393,63.86250
174,Zambia,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,41.00,19.93,0.220,0.290,0.489,53.90625
175,Zimbabwe,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,28.01,21.84,0.179,0.243,0.579,50.48750

In [12]:
merged2 = pd.merge(merged1,df_cpi,on = "Country",how = "inner")
merged2

,Country,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service,Life expectancy,CPI Score
0,Afghanistan,31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,46.60,20.34,0.380,0.240,0.380,58.19375,13.017093
1,Albania,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,15.11,5.22,0.232,0.188,0.579,75.15625,34.452946
2,Algeria,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,17.14,4.61,0.101,0.600,0.298,73.61875,33.704377
3,Angola,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,45.11,24.20,0.096,0.658,0.246,49.01875,20.005035
4,Argentina,39921833,2766890,14.4,0.18,0.61,15.18,11200.0,97.1,220.4,12.31,0.48,87.21,16.73,7.55,0.095,0.358,0.547,75.15625,35.396074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Venezuela,25730435,912050,28.2,0.31,-0.04,22.20,4800.0,93.4,140.1,2.95,0.92,96.13,18.71,4.92,0.040,0.419,0.541,73.38750,18.289497
165,Vietnam,84402966,329560,256.1,1.05,-0.45,25.95,2500.0,90.3,187.7,19.97,5.95,74.08,16.86,6.22,0.209,0.410,0.381,74.77500,31.764383
166,Yemen,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,42.89,8.30,0.135,0.472,0.393,63.86250,17.980347
167,Zambia,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,41.00,19.93,0.220,0.290,0.489,53.90625,35.695245
168,Zimbabwe,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,28.01,21.84,0.179,0.243,0.579,50.48750,21.929767

In [13]:
merged3 = pd.merge(merged2,df_unemp,on = "Country",how = "inner")

In [14]:
merged4 = pd.merge(merged3,df_whr,on = "Country",how = "inner")

In [15]:
merged4 = merged4.sort_values(by = "Happiness Score",ascending = False,ignore_index = True)

In [16]:
merged4

,Country,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),...,Unnamed: 0,Region,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Denmark,5450661,43094,126.5,16.97,2.48,4.56,31100.0,100.0,614.6,...,0,Europe,1,7.54600,1.396729,1.447688,0.865249,0.625959,0.363876,0.384374
1,Norway,4610820,323802,14.2,7.77,1.74,3.70,37800.0,100.0,461.7,...,1,Europe,2,7.54100,1.519381,1.431075,0.873333,0.638049,0.328360,0.344581
2,Finland,5231372,338145,15.5,0.37,0.95,3.57,27400.0,100.0,405.3,...,2,Europe,3,7.53780,1.356960,1.434429,0.873836,0.621536,0.284849,0.331408
3,Switzerland,7523934,41290,182.2,0.00,4.05,4.39,32700.0,99.0,680.9,...,3,Europe,4,7.51140,1.472164,1.417332,0.928318,0.620642,0.328272,0.328923
4,Iceland,299388,103000,2.9,4.83,2.38,3.31,30900.0,99.9,647.7,...,4,Europe,5,7.51100,1.386523,1.492813,0.917744,0.618035,0.294748,0.264521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Yemen,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,...,150,Africa,151,3.62580,0.489313,0.865448,0.365440,0.244175,0.086517,0.077457
138,Afghanistan,31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,...,151,Asia,152,3.51280,0.357113,0.409753,0.254707,0.117924,0.165836,0.159988
139,Tanzania,37445392,945087,39.6,0.15,-2.06,98.54,600.0,78.2,4.0,...,152,Africa,153,3.46600,0.439777,0.939380,0.396732,0.386880,0.201743,0.193705
140,Rwanda,8648248,26338,328.4,0.00,0.00,91.23,1300.0,70.4,2.7,...,153,Africa,154,3.43860,0.322057,0.788453,0.417543,0.581611,0.345375,0.354404
141,Central African Republic,4303356,622984,6.9,0.00,0.00,91.00,1100.0,51.0,2.3,...,154,Africa,155,3.13425,0.032125,0.000000,0.050191,0.322408,0.204192,0.091979

In [17]:
merged4["Country"]

0                       Denmark
1                        Norway
2                       Finland
3                   Switzerland
4                       Iceland
                 ...
137                       Yemen
138                 Afghanistan
139                    Tanzania
140                      Rwanda
141    Central African Republic
Name: Country, Length: 142, dtype: object

In [18]:
df_whr["Country"]

0                       Denmark
1                        Norway
2                       Finland
3                   Switzerland
4                       Iceland
                 ...
150                       Yemen
151                 Afghanistan
152                    Tanzania
153                      Rwanda
154    Central African Republic
Name: Country, Length: 155, dtype: object

In [19]:
counter = 0
for i in df_whr["Country"].values:
    if i not in merged4["Country"].values:
        counter += 1
        print(i,counter)

Taiwan 1
North Cyprus 2
Kosovo 3
Hong Kong 4
Montenegro 5
Lebanon 6
Somaliland region 7
Laos 8
Palestinian Territories 9
Myanmar 10
Ivory Coast 11
Chad 12
Angola 13

In [20]:
df_whr.loc[df_whr["Country"] == "Congo (Brazzaville)"]

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
123,123,Congo (Brazzaville),Africa,124,4.3774,0.722743,0.716587,0.346717,0.423013,0.106248,0.098854

In [21]:
merged4 = merged4.drop("Unnamed: 0",axis = 1)

In [22]:
#merged4.to_csv("project.csv",index = False)